@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-md-center">
    <h1 class="display-4">Sawmill manager</h1>
    <p>Manage your incoming out going orders in your sawmill</p>
</div>


